<h1>Activation de votre compte</h1>
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Bienvenue à EL Bank !</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            background-color: #264459;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }
        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }
        .bottom {
            background-color: #efefee;
        }
        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }
        .logo {
            width: 100%;
        }
        .text-center {
            text-align: center;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #264459;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h1 class="text-center">Ravie de faire votre connaissance </h1>
            <p class="block">
                Vous avez crée un compte sur notre site <strong>EL Bank</strong> , veuillez cliquer sur le lien ci-dessous pour l'activer
            </p>
            <p class="block text-center">
                <a href="{{ absolute_url(path('activation',{'token': token})) }}" class="btn">Activer mon compte!</a>
            </p>

            <p class="block">
                Nous sommes ravis que vous ayez décidé de nous rejoindre dans notre banque virtuel "EL Bank",
                c'est une plateforme qui vous aidera à se bénéficier de tous services banquaire 100% en ligne.
            </p>
        </div>
        <div class="footer">
            <p class="block">
                Acclamations,<br><br>
                A Votre disposition toute l'équipe de <em>Builders</em>
            </p>
            <p class="block bottom text-center">
                Envoyé avec respect de la part d' EL Bank Team.
            </p>
        </div>
    </div>
</div>
</body>
</html>
