<h3>Bonjour {{ compte.fullnameclient.nomu }}{{ ' ' }}{{ compte.fullnameclient.prenomu }} ,</h3>
<p>Nous sommes heureux de vous avoir parmi nous. Votre compte bancaire sur EL Bank a bien été activé avec succès.</p>
<p>Nous espérons que nos fonctionnalités vous aident à améliorer votre gestion financière.</p>
<p>Cordialement,  </p>
<p>L'équipe Builders </p>
<p style="font-style: italic; color: #ffc650">Investissez, Adoptez, Bankerize !</p>
