<h3>Bonjour {{ compte.fullnameclient.nomu }}{{ ' ' }}{{ compte.fullnameclient.prenomu }} ,</h3>
<p>Votre compte bancaire sur EL Bank a été désactivé avec succès.</p>
<p>Le solde de votre compte est désormais bloqué, vous ne pourrez plus l'utiliser tant que votre compte sera désactivé. </p>
<p>Vous pourrez réactiver votre compte directement sur l'application EL Bank quand vous le souhaiterez ! </p>
<p>Cordialement,  </p>
<p>L'équipe Builders </p>
<p style="font-style: italic; color: #ffc650">Investissez, Adoptez, Bankerize !</p>
