{% extends 'base_back.html.twig' %}

{% block title %}EL Bank - Blank Page{% endblock %}

{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Titre : Ce que vous voulez</h6>
            </div>
            <div class="card-body">
                <p>Vous pouvez faire votre travail dans ce type de "card",
                    ou si vous avez une autre idée, faites vous plaisir :)
                </p>
                <p>Le fichier à utiliser comme base de votre code est "blank_page_back.html" (ou base_back.html),
                    dans le block "body", bon travaiiiil :D !  </p>
                <p>PS : Noubliez pas de rajouter "active" sur le bouton de VOTRE page
                    (Exemple : li class="nav-item active"). Il faudra donc changer apporter des modificatiosn au block "navbar" !
                </p>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

    </div>
{% endblock %}
